<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>::Eventure::</title>
    </head>
    <style type='text/css'>
        img { outline: none; border: none; }
        .contentlabel {
            text-align:right;
            padding-bottom:15px;
            padding-right:30px;
            font-size:14px;
            font-family: TimesNewRoman, 'Times New Roman', Times, Baskerville, Georgia, serif;
            font-weight:bold;
            color:#313131;
            vertical-align:top;
        }
        .contenttxt {
            text-align:left;
            padding-bottom:15px;
            font-size:14px;
            font-family: TimesNewRoman, 'Times New Roman', Times, Baskerville, Georgia, serif;
            font-weight: 300;
            color:#313131;
            vertical-align:top;
        }
        .contenttxt a {
            color:#1f8ec2;
            text-decoration:none;
        }
        body {
            font-family: TimesNewRoman, 'Times New Roman', Times, Baskerville, Georgia, serif;
        }
    </style>
    <body style="margin: 0; background: #fff; font-family: TimesNewRoman, 'Times New Roman', Times, Baskerville, Georgia, serif; font-weight: 200; padding: 0;">
        <subject>{%block subject %}{% endblock %}</subject>
        <table width="610" cellpadding="0" cellspacing="0" align="center" style="background:#fff; text-align:center;">
            <tr>
                <td>
                    <table width="544" align="center" style="text-align: center;">
                        <tr>
                            <td style="padding-bottom: 40px; padding-top: 24px;">
                                {% block header %}
                                    <a href="http://eventure.com">
                                        <img src="https://s3.amazonaws.com/evti-other/img/Eventure-Logo.png" style="max-width: 240px;" width="240" alt="Eventure"/>
                                    </a>
                                {% endblock %}
                            </td>
                        </tr>
                        <tr>
                            <td valign="top">
                                {% block content %}
                                {% endblock %}
                            </td>
                        </tr>

                        <tr>
                            <td style="padding: 16px 0px;border-top: 1px solid #cfcfcf;">
                                {% block footermiddle %}
                                    <table width="100%;">
                                        <tr>
                                            <td width="50%" style="margin: 0; text-align: center; color: #252525; font-size: 16px;font-family: TimesNewRoman, 'Times New Roman', Times, Baskerville, Georgia, serif;">
                                                Stay connected with Eventure on
                                            </td>
                                            <td style="text-align: left; padding: 0;">
                                                <a href="https://instagram.com/eventure/" style="display: inline-block; margin: 0 5px;">
                                                    <img src="https://s3.amazonaws.com/evti-other/img/camera.png" style="max-height: 50px;max-width:50px;" height="50" width="50" alt="Instagram"/>
                                                </a>
                                                <a href="https://www.facebook.com/eventure" style="display: inline-block; margin: 0 5px;">
                                                    <img src="https://s3.amazonaws.com/evti-other/img/facebook.png" style="max-height: 50px;max-width:50px;" height="50" width="50" alt="Facebook"/>
                                                </a>
                                                <a href="https://twitter.com/eventure" style="display: inline-block; margin: 0 5px;">
                                                    <img src="https://s3.amazonaws.com/evti-other/img/twitter.png" style="max-height: 50px;max-width:50px;" height="50" width="50" alt="Twitter"/>
                                                </a>
                                            </td>
                                        </tr>
                                    </table>
                                {% endblock %}
                            </td>
                        </tr>
                        <tr>
                            <td style="border-top: 1px solid #cfcfcf;padding-top: 38px; font-size: 14px; font-style: italic;">
                                {% block footerbottom %}
                                    <table width="100%" align="center" style="text-align: center;">
                                        <tr>
                                            <td>
                                                <i style="margin: 0px; font-size: 14px; color: #252525;font-family: TimesNewRoman, 'Times New Roman', Times, Baskerville, Georgia, serif;">If you are not a member of Eventure, please
                                                <a style="text-decoration: none; font-size: 14px;color: #1f8ec2;" href="{{ RegisterUrl }}">click here</a> to register.</i>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <i style="margin: 0px; font-size: 14px; color: #252525;font-family: TimesNewRoman, 'Times New Roman', Times, Baskerville, Georgia, serif;">If you believe you have received this message in error,<br/>please
                                                <a href="http://eventure.com/contact" style="text-decoration: none; font-size: 14px; color: #1f8ec2;">click here</a> to let us know.</i>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="padding-top: 20px; padding-bottom: 80px;font-family: TimesNewRoman, 'Times New Roman', Times, Baskerville, Georgia, serif;">
                                                <i style="margin: 0px; font-size: 14px;color: #252525;">© 2015 Eventure Interactive, Inc.</i>
                                            </td>
                                        </tr>
                                    </table>
                                {% endblock %}
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </body>
</html>