{% extends "base.html" %}
{% import "auth_macros.html" as am %}

{% block content %}

{{ am.logo_row() }}

<div class="row">
	<div class="col-md-4 col-md-offset-4">
		<h4>Create account with email</h4>
	</div>
</div>

<div class="row">
	<div class="col-md-4 col-md-offset-4">
		<form method="POST">
			{{ am.form_errors(form) }}
			{{ am.form_field(form.email) }}
			{{ am.form_field(form.password) }}
			<div class="form-group">
				<button class="btn btn-primary auth-submit" type="submit">Next</button>
			</div>
			<input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
		</form>
	</div>
</div>

<div class="row instead-login">
	<div class="col-md-4 col-md-offset-4 text-center">
		Already have an account? <a href="{{ url('fe:login') }}">Login.</a>
	</div>
</div>

{% endblock %}

{% block title %}Create Account{% endblock %}

{% block page_css %}

.auth-submit{
	margin-top: 42px;
}

.instead-login {
	margin-top: 25px;
}

{% endblock %}