{% extends "base.html" %}
{% import "auth_macros.html" as am %}

{% block content %}

<div class="row photo-row">
	<div class="col-md-4 col-md-offset-4">
		<form method="POST" id="myAwesomeDropzone">
			<div class="row-centered photo-row">
				<div class="col-md-6 col-centered dropzone dz-clickable">
				<!-- <input name="profile_photo_file" type="file" class="hidden-input dz-clickable"> -->
					<div class="dz-message">Drop files here or click to upload.<br>
						<span class="note">(This is just a demo dropzone. Selected files are <strong>not</strong> actually uploaded.)</span>
					</div>
				</div>
			</div>
			{{ am.form_errors(form) }}
			{{ am.form_field(form.name) }}
			<div class="form-group row-centered">
				<button class="col-xs-6 col-centered btn btn-default" type="submit">Ready to go!</button>
			</div>
			<input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
		</form>
	</div>
</div>

{% endblock %}

{% block title %}Set Initial Profile{% endblock %}

{% block page_css %}
.photo-row {
	margin-bottom: 30px;
}

.auth-submit {
	margin-top:30px;
}
{% endblock %}
{% block local_js %}
<script type="text/javascript">
    var SELF_API_URL = "{{url('self-detail')}}";
    var CSRF_TOKEN = "{{ csrf_token }}";
</script>
{% endblock %}
{% block page_js %}
	<script src="{{ static('fe/js/set-profile.js') }}"></script>
{% endblock %}